.span8
  .hero-unit
    %h1= @topic.title
    %p= @topic.description
  - @topic.wiki_pages.each_slice(3) do |pages|
    .row-fluid
      - pages.each do |page|
        .span4
          %h2= page.title
          %p= page.description
          %p
            %a.btn{:href => wiki_page_path(page)} gimme more »
