.span8
  .hero-unit
    %h1= @wiki.name
    %p= @wiki.homepage
  - @wiki.wiki_topics.each_slice(3) do |topics|
    .row-fluid
      - topics.each do |topic|
        .span4
          %h2= topic.title
          %p= topic.description
          %p
            %a.btn{:href => wiki_topic_path(topic)} gimme more »
