.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Simple Wiki
      .nav-collapse
        %ul.nav
          - Wiki.all.each do |wiki|
            %li
              %a{:href => wiki_path(wiki)}= wiki.name
