.well.sidebar-nav
  %ul.nav.nav-list
    - WikiTopic.all.each do |topic|
      %li.nav-header= link_to topic.title, wiki_topic_path(topic)
      - topic.wiki_pages do |page|
        %li
          %a{:href => wiki_page_path(page)} page.title
