.well.sidebar-nav
  %ul.nav.nav-list
    %h3{:style => "color: darkorange;"}= "#{current_wiki.name.capitalize} topics:"
    %hr
    - current_wiki.wiki_topics.all.each do |topic|
      %li.nav-header= link_to topic.title, wiki_topic_path(topic), :style => "color: black"
      - topic.wiki_pages do |page|
        %li
          %a{:href => wiki_page_path(page)} page.title
