%html{:lang => "en"}
  = render 'layouts/head'
  %body
    = render 'layouts/navigation'
    .container-fluid
      .row-fluid
        .span3
          = render 'layouts/sidebar'
        = yield
      %hr
        %footer
          %p © Company 2012
    / /.fluid-container
